img{width:auto; height:100%;}
.pic_group {text-align:center; }
.pic_group .pic_option div {
    width:170px;
    height:180px;
    border:10px solid white;
    overflow:hidden;
    box-shadow:0 0 5px;
    margin-bottom:30px;
    display:inline-block;}

.pic_option {
    margin:5px;
    margin-bottom:10px;
    text-align: center;
}

.pic_option label:hover {
    color:green;
    font-weight:bold;
    box-shadow: 0 10px 10px -5px;
}

.page_border {
    width:100%;
    float:left;
    margin-top:40px;
    padding:40px;
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
